# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/

# Virtual environments
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints

# MLflow
mlruns/

# Model files
*.pkl

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
# Allow DVC files
!data/raw/*.dvc
!data/processed/*.dvc

# Logs
logs/
